/*-----------------------STRUCTURE
--------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html {
    width:100%;
    height:100%;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
:root {
    font-size: 14px;
} 
@media (min-width: 700px) and (max-width: 1600px) {
    :root {
      font-size: calc( 14px + (26 - 14) * ((100vw - 700px) / (1600 - 700)) );
    }
}
@media (min-width: 1600px) {
    :root {
      font-size: 26px;
    }
}
body {
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
    background: rgb(250,250,250); 
}
  header, main, footer {
    width:100%;
}
/*--------------------CLASS STYLES
--------------------------------*/
.grid {
    display: grid;
}
svg {
    width: 100%;
    height:100%;
    display:block;
}
path {
    fill:none;stroke:rgb(221, 207, 160);stroke-width:1;stroke-miterlimit:10;
}
line {
    fill:none;stroke:#000000;stroke-width:1;stroke-miterlimit:10;
}
.backline {
    background: url(/assets/gold.gif) center/1px repeat-y;
}
img {
    object-fit: cover;
}
 /*-------------------------HEADER
--------------------------------*/
.aspectRatioSizer {
    display: grid;
}
.aspectRatioSizer {
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(15, 5vw);
} 
.aspectRatioSizer svg {
    grid-area: 1 / 1 / 15 / 21;
}
.header-image {
    grid-area: 1/1/16/21;
}
#l {
    grid-area: 2/9/5/13;
    font-size: 11vw;
    color:#ffffff;
    padding-bottom: 4.1vw; 
}
#r {
    grid-area: 9/7/13/15;
    font-size: 11vw;
    color:#ffffff;
    padding-bottom: 2.5vw;
}
#and {
    grid-area: 5/10/8/12;
    font-size: 13vw;
    color:rgb(255, 255, 255);
    mix-blend-mode: difference;
    padding-bottom: 2.5vw;
}
#date {
    grid-area: 13/9/14/13;
    color: white;
    font-size: 2vw;
}
.title { 
    font-family: operetta-52, serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.35vw;
    text-align: center;
    place-self: center;
}
@media only screen and (min-width: 1920px) {
    .aspectRatioSizer {
        grid-template-columns: repeat(20, 96px);
        grid-template-rows: repeat(15, 96px);
    }
    .title {
        letter-spacing: 7px;
    }
    #l {
        font-size: 211px;
        padding-bottom: 79px;
    }
    #r {
        font-size: 211px;
        padding-bottom: 48px;
    }
    #and {
        font-size: 250px;
        padding-bottom: 48px;
    }
    #date {
        font-size: 38px;
    }
}
/*----------------------------MAIN
--------------------------------*/
main {
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(14, 14, 14, 0.8);
}
main h1, h2, h3, h4, h5, .bold{
    font-family: garamond-premier-pro, serif;
    font-weight: 600;
    font-style: normal;
}
main .italic {
    font-family: garamond-premier-pro, serif;
    font-weight: 500;
    font-style: italic;
}
/*---------------------------LINKS
--------------------------------*/
#links {
    background:#2a3554;
}
#links ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding:2rem 0;
}
.draw {
    width:max-content;
    display: block;
    background:white;
    padding:.5rem;
    margin:1rem;
}
.draw a {
    display: inline-block;
    position:relative;
    width:11rem;
    height:4rem;
    line-height:4rem;
    font-size: 1.5rem;
    color: #3e3e46;
    text-align: center;  
}
.draw a:before {
    content:'';
    position:absolute;
    bottom:-1px;
    left:-1px;
    width:0;
    height:0;
    background: transparent;
    border:1px solid transparent;
}
.draw:hover a:before {
    animation: animate .2s ease-in forwards;
}
@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #3e3e46;
        border-left-color: #3e3e46;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #3e3e46;
        border-left-color: #3e3e46;
    }
}
.draw a:after {
    content:'';
    position:absolute;
    top:-1px;
    right:-1px;
    width:0;
    height:0;
    background: transparent;
    border:1px solid transparent;
}
.draw:hover a:after {
    animation: animate2 .2s ease-in forwards;
}
@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: #3e3e46;
        border-right-color: #3e3e46;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #3e3e46;
        border-right-color: #3e3e46;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
 /*--------------------------STORY
--------------------------------*/
#story {
    grid:
        'lee'
        'bench'
        'rach'
        'shadow'
    / 1fr;
}
article {
    margin:2rem;
}
#lee {
    grid-area: lee;
    place-self: center;
    background: #cccdcb;
    color:#2a3554;
    height:100%;
}
#rach {
    background:#3e3e46 ;
    grid-area: rach;
    place-self: center;
    height:100%;
    color:#fafafa;
}
#bench {
    grid-area: bench;
    align-self: stretch;
    background: url(assets/Benches-new.jpg) center / cover no-repeat;
}
#shadow { 
    grid-area: shadow;
    align-self: stretch;
    background: url(assets/cubes1.jpg) center / cover no-repeat;
} 
@media only screen and (min-width: 700px) {
    #story {
        grid:
            'lee bench'
            'shadow rach'
        / 1fr 1fr;
    }
}
 /*-----------------WEDDING-INVITE
--------------------------------*/
#wedding-invite {
    width:100%;
    place-items:center;
    padding:2rem;
    background:#705a69;
}
.invite-outer {
    background:#fafafa;
}
.invite-inner {
    text-align:center;
    border: black double 3px;
    padding: 1rem;
    margin:1rem;
}
 /*------------------------WEDDING
--------------------------------*/
#wedding {
    grid:
        'morning'
        'venue'
        'afternoon'
        'rom'
        'lunch'
    / 1fr;
}
#morning {
    background: #291c41;
    grid-area: morning;
    padding:2rem;
    grid-template-rows: min-content auto min-content;
}
#wireframe {
    height:3rem;
    grid-area:1/1/2/2;  
}
.upper {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.upper li {
    color:rgb(221, 207, 160);
    background: #291c41;
    margin:1rem 0;
}
.ring {
    grid-area:3/1/4/2;
    height:1rem;
}
.ring path {
    fill: #291c41;
}
.small-heart {
    height:1rem;
}
.small-heart .st0 {
    fill:#291c41;
}
#venue {
    grid-area: venue;
    align-self: stretch;
    background: url(assets/cubes2.jpg) right / cover no-repeat;
}
#afternoon {
    grid-area: afternoon;
    grid-template-columns: 1fr auto 1fr;
}
#rom {
    grid-area: rom;
    align-self: stretch;
    background: url(assets/RoM-Lewes.jpg) right / cover no-repeat;
}
#lunch {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fafafa;
    padding: 1rem;
} 
#lunch ul {
    display: block;
    text-align: center;
    padding:2rem .5rem;
    border: black 3px double;
    background: #fafafa;
}
#lunch li {
    display: block;
    text-align: center;
    padding:.1rem 0;
}
#lunch h3, h5 {
    padding:.2rem;
}
.horizontal {
    max-height: 3px;
    margin:1rem 0;
}
@media only screen and (min-width: 700px) {
    #wedding {
        grid:
        'morning venue'
        'rom lunch'
        / 1fr 1fr;
    }
}
 /*--------------------------BREAK
--------------------------------*/
.break {
    background:#2a3554;
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}
.break-inner {
    color:#f1e5ef;
    font-size: 1.5rem;
    text-align: center;  
    letter-spacing: .12rem;
    word-spacing: 0.13rem;
    line-height: 2rem;
    margin:4rem 1rem;
    max-width: 900px;
    grid-area: 1/2/2/3; 
}
.break-inner h2{
    margin:2rem 0;
}
.break-inner h4 {
    margin:2rem 0;
}
 /*----------------------RECEPTION
--------------------------------*/
.aspectRatioSizer-two {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, calc(100vw/6));
    grid-template-rows: repeat(6, calc(100vw/6));
    font-size: 6vw;

}
@media only screen and (min-width: 1920px) {
    .aspectRatioSizer-two {
        grid-template-columns: repeat(6, 320px);
        grid-template-rows: repeat(6, 320px);
    }
}
/*--------------------------FOOTER
--------------------------------*/
footer{
    background: radial-gradient(circle, rgba(250,250,250,1) 40%, rgba(193,197,207,1) 100%);          
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#ankle {
    grid-template-rows: auto 24rem 6.3rem;
}
#blurb {
    grid-area: 1/1/2/2;
    font-family: amatic-sc, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin:2rem 2rem;
    place-self: center;
}
#cartoon {
    grid-area: 2/1/4/2;
    height: 28rem;
    justify-self: center;
    align-self: end;
}
#ground {
    grid-area: 3/1/4/2;
    background: #4d6a79;
    height:100%;
    align-self: end;
}
@media only screen and (min-width: 700px) {
    #ankle {
        grid-template-columns: 1fr 1fr;
    }
    #blurb {
        grid-area: 1/1/3/2;
    }
    #cartoon {
        grid-area: 2/2/4/3;
    }
    #ground {
        grid-area: 3/1/5/3;
    }
}
#heel {
    background: #4d6a79;
    grid-gap: 2rem;
    align-items: end;
    padding:3rem 1rem;
}
#heel p {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .05rem;
    color:#fafafa;
    padding:1rem;
}
#heel li {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .05rem;
    color:#fafafa;
}
footer a, a::after {
    text-decoration:none;
    display:inline-block;
    position:relative;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
footer a:active, a:hover {
    outline:0;
}
footer a::after {
    content:"";
    position:absolute;
    top:92%;
    height:2px;
    outline:1px solid transparent;
    right:1rem;
    left:1rem;
    background-color:rgba(255,255,255,1);
}
footer a:hover::after {
    top:100%;
    height:2px;
    background-color:rgba(255,255,255,.5);
}
.futur {
    font-size: 1.5rem;
}
#rsvp {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:#fafafa;
}
#rsvp ul {
    padding:0.5rem;
}
#rsvp li {
    padding:0.5rem;
}
#rsvp a {
    font-size:1.2rem;
    padding:0 1rem;
    color:#fafafa;
}
#map {
    position: relative;
    padding-bottom: 400px;
    height: 0;
    overflow: hidden;
}
#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}