/*-----------------------STRUCTURE
--------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html {
    width:100%;
    height:100%;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
:root {
    font-size: 14px;
} 
@media (min-width: 700px) and (max-width: 1600px) {
    :root {
      font-size: calc( 14px + (26 - 14) * ((100vw - 700px) / (1600 - 700)) );
    }
}
@media (min-width: 1600px) {
    :root {
      font-size: 26px;
    }
}
body {
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}
  header, main, footer {
    width:100%;
}
/*--------------------CLASS STYLES
--------------------------------*/
.grid {
    display: grid;
}
svg {
    width: 100%;
    height:100%;
    display:block;
}
line, path {
    fill:none;stroke:#000000;stroke-width:1;stroke-miterlimit:10;
}
.backline {
    background: url(/assets/blackpixel.png) center/1px repeat-y;
}
 /*-------------------------HEADER
--------------------------------*/
header {
    background-color: white;
}
.aspectRatioSizer {
    display: grid;
}
.aspectRatioSizer {
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vw);
} 
.aspectRatioSizer svg {
    grid-area: 1 / 1 / 11 / 11;
}
.header-image {
    grid-area: 5/1/21/21;
}
.sexy-title {
    grid-area: 1/1/21/21;
    display:grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vw);
    transform: rotate(-90deg);
    mix-blend-mode: difference;
}
.sexy-title span {
    grid-area:18/7/20/20;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 11vw;
    letter-spacing: 0.5vw;
    color:white;
    mix-blend-mode: difference;
    align-self: center;
}
.date {
    grid-area: 1/1/21/21;
    display:grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vw);
    mix-blend-mode: difference;
}
.date span {
    grid-area:15/2/16/7;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5vw;
    color:white;
    mix-blend-mode: difference;
    justify-self: start;
    align-self: center;
}
@media only screen and (min-width: 567px) {

    .aspectRatioSizer {
        grid-template-rows: repeat(15, 5vw);
    }
    .aspectRatioSizer svg {
        grid-area: 1 / 1 / 15 / 21;
    }
    .header-image {
        grid-area: 3/1/14/21;
    }
    .sexy-title {
        grid-area: 1/1/15/21;
        grid-template-rows: repeat(15, 5vw);
        transform: rotate(0deg);
    }
    .sexy-title span {
        grid-area:1/6/4/16;
        font-size: 7vw;
        letter-spacing:0.35vw;
        justify-self: center;
        align-self: end;
        padding-bottom: 1.8vw;
    }
    .date {
        grid-area: 1/1/15/21;
        grid-template-rows: repeat(15, 5vw);
    }
    .date span {
        grid-area:13/15/14/19 ;
        font-size: 3.5vw;
        padding:0;
        justify-self: start;
        align-self: center;
    }
}
@media only screen and (min-width: 1920px) {

    .aspectRatioSizer {
        grid-template-columns: repeat(20, 96px);
        grid-template-rows: repeat(15, 96px);
    }
    .sexy-title {
        grid-template-columns: repeat(20, 96px);
        grid-template-rows: repeat(15, 96px);
    }
    .sexy-title span {
        font-size: 135px;
        letter-spacing:6px;
        padding-bottom: 34px;
    }
    .date {
        grid-template-columns: repeat(20, 96px);
        grid-template-rows: repeat(15, 96px);
    }
    .date span {
        font-size: 67px;
    }
}
 /*---------------------------MAIN
--------------------------------*/

main {
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: normal;
}
main h1, h2, h3, h4, h5, .bold{
    font-family: garamond-premier-pro, serif;
    font-weight: 600;
    font-style: normal;
}
main .italic {
    font-family: garamond-premier-pro, serif;
    font-weight: 500;
    font-style: italic;
}
 /*--------------------------STORY
--------------------------------*/
#story {
    grid:
        'lee'
        'bench'
        'rach'
        'shadow'
    / 1fr;
}
#lee {
    grid-area: lee;
    place-self: center;
}
#rach {
    grid-area: rach;
    place-self: center;
}
#bench {
    grid-area: bench;
    align-self: end;
    background: url(assets/Benches-new.jpg) center / contain no-repeat;
}
#shadow { 
    grid-area: shadow;
    align-self: start;
    background: url(assets/Shadow-flipped.jpg) center / contain no-repeat;
}
#story article {
    margin: 3rem 3rem;
}    
@media only screen and (min-width: 700px) {
    #story {
        grid:
            'lee bench'
            'shadow rach'
        / 1fr 1fr;
    }
}
 /*-----------------WEDDING-INVITE
--------------------------------*/
#wedding-invite {
    width:100%;
    align-items:center;
    justify-items:center;
}
#wedding-invite div {
    text-align:center;
    border: black double 3px;
    padding: 2rem;
    margin: 10rem 3rem 10rem 3rem;
}




#wedding {
    justify-items: center;
    grid:
        'wireframe venue'
        'upper venue'
        'upper southover'
        'lunch rom'
        'lunch rights'
    auto / 1fr 1fr;
}
#wireframe {
    grid-area: wireframe;
    width: 108px;
    height: 98px;
}
#upper {
    grid-area: upper;
}

.order {
    width:max-content;
}
.order ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.order li {
    height:100%;
    text-align: center;
    padding:.5rem 0;
    margin:3rem 0;
    background:white;
}
.small-heart {
    width:21px; height:22px;
}
.small-heart .st0 {
    fill:#FFFFFF;
}
#venue {
    grid-area: venue;
    align-self:stretch;
    background: url(assets/Southover1.jpg) center left / cover no-repeat;
}
#southover {
    grid-area: southover;
    margin:3rem;
}
#rights {
    grid-area: rights;
    margin: 3rem;
}
#rom {
    grid-area: rom;
    align-self: stretch;
    background: url(assets/RoM-Lewes.jpg) center / cover no-repeat;
}
#lunch {
    grid-area: lunch;
    padding: 3rem;
} 
#lunch .grid {
    padding:3rem;
    grid-template-rows: auto;
    align-items: center;
    border: black 3px double;
    background:white;
}

#lunch li {
    text-align: center;
    padding:.1rem;
}
#lunch h3, h5 {
    padding:.2rem;
}
#lunch div {
    padding:1rem;
}
.horizontal {
    max-height: 3px;
}









 /*---------------WEDDING-TIMELINE
--------------------------------*/

/* #wedding {
    grid:
        'upper'
        'venue'
        'lunch'
        'rom'
    / 1fr;
}
.timeline {
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;  
}
#upper.timeline {
    grid-area: upper;
    grid-template-rows: 98px max-content;
}
#wireframe-heart {
    width: 108px;
    height: 98px;
    align-self: stretch;
    grid-area: 1/2/2/3;
}
#fuck {
    grid-area: 2/2/3/3;
}
.vertical-line {
    display:block;
    min-height:300px;
    background:black;
    width:2px;
}
#upper .order {
    grid-area: 2/2/3/3;
}
.order {
    width:max-content;
}
.order li {
    text-align: center;
    margin:3rem 3rem;
}
.list-words {
    background: white;
}
.list-words h2 {
    padding: 6px;
}
.list-words h4 {
    padding: 4px;
}
.list-words p {
    padding: 3px;
}
.small-heart {
    width:21px; height:22px;
    margin:0 auto;
}
.small-heart .st0 {
    fill:#FFFFFF;
}

#venue {
    grid-area: venue;
    align-self: stretch;
    background: url(assets/Southover1.jpg) center left / cover no-repeat;
}
#rom {
    grid-area: rom;
    align-self: stretch;
    background: url(assets/RoM-Lewes.jpg) center right / cover no-repeat;
}
#lunch {
    grid-area: lunch;
}
#lunch.grid {
    margin: 3rem;
    grid-template-rows: auto;
    align-items: center;
}
#lunch li {
    text-align: center;
    padding:.1rem;
}
#lunch h3, h5 {
    padding:.2rem;
}
#lunch div {
    padding:1rem;
}
.horizontal {
    max-height: 3px;
}
@media only screen and (min-width: 700px) {
    #wedding {
        grid:
            'upper upper venue venue venue'
            'rom rom lunch lunch lunch'
        / 3fr 1fr 1fr 1fr 3fr;
    }
} */
 /*---------------
--------------------------------*/



/* 
#site-break-top.grid {
    display:grid;
    grid-template-columns: repeat(10, 10%);
}
#site-break-top svg {
    grid-area: 1/3/2/4;
}
#site-break-top article {
    grid-area: 1/4/2/11;
    background: #fafafa;
    padding: 2rem;
    border: black double 3px;
    margin: 30vmin 2rem 30vmin 2rem;
    text-align: center;

}

#time.grid {
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr;
    text-align: center;
}
#time svg, #site-break svg, #site-break-top svg {
    padding-left:1px;
}

#site-break {
    height: 30vmin;
}
#love.grid {
    grid-template-columns: repeat(10, 10%);
}

#love span {
    font-size: 30vw;
    line-height: 22vw;
    padding-bottom:30vmin;
    color: black;
}

#love span.lo {
    grid-area: 1 / 3;
}

#love span.ve {
    grid-area: 1 / 7;
}

#lunch.grid {
    margin: 2rem;
    grid-template-rows: auto;
    align-items: center;
}
#lunch li {
    padding:.1rem;
}
#lunch h3, h5 {
    padding:.2rem;
}
#lunch div {
    padding:1rem;
}

line, path {
    fill:none;stroke-miterlimit:10;
}

.st0 {
    stroke-linejoin:round;
}

.vertical {
    max-height: 80px;
}

.horizontal {
    max-height: 3px;
}

#heart {
    margin-top: 30vmin;
} */

 /*-------------------------FOOTER
--------------------------------*/

/* footer {
    background: #4d6a79;
    padding: 2rem;
    color: #fafafa;
}

footer a {
    color: #fafafa;
 }

footer.grid {
    grid:
        'rsvp cartoon'
        'map map'
    / 1fr 1fr;
}

#cartoon { grid-area: cartoon;}
#rsvp { grid-area: rsvp;}
#map { grid-area: map;}

#rsvp {
    padding:2rem 0 2rem 0;
}

.pic.six { background-image: url(assets/cartoon.png); }

#map {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}

#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
} */

 /*--------------------MEDIA QUERY
--------------------------------*/


/* @media only screen and (max-width: 700px) {

    main.grid {
        grid:
            'lee'
            'bench'
            'rach'
            'shadow'
            'site-break-top'
            'venue'
            'time'
            'site-break'
            'love'
            'rom'
            'lunch'
            'heart'
        / 1fr;
    }
    footer.grid {
        grid:
            'cartoon' 
            'rsvp'
            'map'
        / 1fr;
    }
    #map {
    padding-bottom: 100%;
    }
    #site-break-top svg {
        grid-area: 1/1/2/11;
    }
    #site-break-top article {
        grid-area: 1/1/2/11;

    }
} */
