* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/*--------------------class styles
--------------------------------*/
 
.grid {
    display: grid;
}
.bold {
    font-weight:700;
  }

svg {
    width: 100%;
    height:100%;
    display:block;
}
html{
    background-color: #fafafa;
    font-size: calc(16px + (26 - 16) * ((100vw - 365px) / (1920 - 365)));
}

 /*----------------------STRUCTURE
--------------------------------*/

body { 
    margin: 0 auto;
    max-width: 1920px;
}

header, main, footer {
    width: 100%;
}

 /*-------------------------HEADER
--------------------------------*/

header {
    background:grey url(assets/Hero-image.jpg) center / cover no-repeat;
    height: 100vmin;
    max-height: 1000px;
}
header.grid {
    grid: 1fr auto 1fr / 1fr auto 1fr;
}
header .card {
    background: rgba(255,255,255,0.95);
    grid-area: 2/2/3/3;
    width:285px;
    padding: 15px;
    text-align: center;
}
header .card h1 {
    letter-spacing:5px;
    color: #040404;
}
header .card p {
    color: #707070;
}

 /*---------------------------MAIN
--------------------------------*/

main {
    color: #0b334a;
}

main.grid {
    grid:
        'lee bench'
        'shadow rach'
        'heart heart'
        'time venue'
        'rom lunch'
    / 1fr 1fr;
    align-items: stretch;
}
#bench { grid-area: bench;}
#shadow { grid-area: shadow; }
#heart { grid-area: heart; }
#venue { grid-area: venue; }
#rom { grid-area: rom; }
#rach { grid-area: rach; place-self:center; }
#lee { grid-area: lee; place-self:center; }
#time { grid-area: time; }
#lunch { grid-area: lunch;} 

.pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic.one { background-image: url(assets/Benches-new.jpg); }
.pic.two { background-image: url(assets/Shadow-flipped.jpg); }
.pic.three { background-image:url(assets/Rach&LeeHeart-Hero.jpg); }
.pic.four { background-image: url(assets/Southover1.jpg); }
.pic.five { background-image: url(assets/RoM-Lewes.jpg); }

main article {
    margin: 2rem;
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: italic;
}

main ul {
    text-align: center;
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: normal;
}

#time.grid {
    grid-template-rows: 1fr auto 1fr;
}

#lunch.grid {
    margin: 2rem;
    grid-template-rows: auto;
    align-items: center;
}
#lunch li {
    padding:.1rem;
}
#lunch h3, h5 {
    padding:.2rem;
}
#lunch div {
    padding:1rem;
}

line {
    fill:none;stroke:#000000;stroke-miterlimit:10;
}

.vertical {
    max-height: 3px;
}

 /*-------------------------FOOTER
--------------------------------*/

footer {
    background: #4d6a79;
    padding:2rem;
}

footer.grid {
    grid:
        'rsvp cartoon'
        'map map'
    / 1fr 1fr;
}

#cartoon { grid-area: cartoon;}
#rsvp { grid-area: rsvp;}
#map { grid-area: map;}

.pic.six { background-image: url(assets/cartoon.gif); }



#map {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}

#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

 /*--------------------MEDIA QUERY
--------------------------------*/

@media only screen and (max-width: 900px) {

    main.grid {
        grid:
        'lee'
        'bench'
        'rach'
        'shadow'
        'heart'
        'venue'
        'time'
        'rom'
        'lunch'
        / 1fr;
    }
    /* footer {
        grid-template-areas: 
        'rsvp'
        'map';
    }
    #map {
    padding-bottom: 100%;
    }
    */
}
